#worm_chart {
  height: 250px;
  width: 40px;
  border: 1px solid black;
}

#worm_chart .positive {
  width: 100%;
  background-color: green;
}

#worm_chart .negative {
  width: 100%;
  background-color: red;
}
