#worm_container {
  height: 50px;
  width: 500px;
}

.worm_chart {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.worm_portion {
  height: 100%;
  float: left;
}

.worm_portion:first-child {
  -webkit-border-top-left-radius: 35px;
  -webkit-border-bottom-left-radius: 35px;
  -moz-border-radius-topleft: 35px;
  -moz-border-radius-bottomleft: 35px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

.worm_portion:last-child {
  -webkit-border-top-right-radius: 35px;
  -webkit-border-bottom-right-radius: 35px;
  -moz-border-radius-topright: 35px;
  -moz-border-radius-bottomright: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

.portion_color0{
  background-color: red;
}
.portion_color1 {
  background-color: blue;
}
.portion_color2 {
  background-color: green;
}
